@model BookViewModel
@{
    ViewData["Title"] = Model.Title;
}
<div id="kt_app_content_container" class="app-container container-xxl " bis_skin_checked="1">

    <!--begin::Navbar-->
    <div class="card mb-5 mb-xl-10" bis_skin_checked="1">
        <div class="card-body pt-9 pb-0" bis_skin_checked="1">
            <!--begin::Details-->
            <div class="d-flex flex-wrap flex-sm-nowrap" bis_skin_checked="1">
                <!--begin: Pic-->
                <div class="me-7 mb-4" bis_skin_checked="1">
                    <div class="symbol symbol-100px symbol-lg-160px symbol-fixed position-relative" bis_skin_checked="1">
                        <img src="/Images/Books/@Model.ImageUrl" alt="image">
                        <div class="position-absolute translate-middle bottom-0 start-100 mb-6 bg-success rounded-circle border border-4 border-body h-20px w-20px" bis_skin_checked="1"></div>
                    </div>
                </div>
                <!--end::Pic-->
                <!--begin::Info-->
                <div class="flex-grow-1" bis_skin_checked="1">
                    <!--begin::Title-->
                    <div class="d-flex justify-content-between align-items-start flex-wrap mb-2" bis_skin_checked="1">
                        <!--begin::User-->
                        <div class="d-flex flex-column" bis_skin_checked="1">
                            <!--begin::Name-->
                            <div class="d-flex align-items-center mb-2" bis_skin_checked="1">
                                <span class="text-gray-900 fs-2 fw-bold me-1">@Model.Title</span>
                                <span class="badge badge-light-@(Model.IsDeleted ? "danger" : Model.IsAvaliableForRental ? "success" : "warning") me-auto">
                                    @(Model.IsDeleted ? "Deleted" : Model.IsAvaliableForRental ? "Avaliable For Rental" : "Not Avaliable For Rental")
                                </span>
                            </div>
                            <!--end::Name-->
                            <!--begin::Info-->
                            <div class="d-flex flex-wrap fw-semibold fs-5 text-gray-400 mb-1 pe-2">
                                By:
                                <span class="ms-2 text-primary">
                                    @Model.Author
                                </span>
                            </div>
                            <div class="d-flex flex-wrap fw-semibold fs-6 text-gray-400 mb-4 pe-2">                                
                                @Model.Publisher                                
                            </div>
                            <!--end::Info-->
                        </div>
                        <!--end::User-->
                        <!--begin::Actions-->
                        <div class="d-flex my-4" bis_skin_checked="1">
                            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-sm btn-primary me-3">Edit</a>
                        </div>
                        <!--end::Actions-->
                    </div>
                    <!--end::Title-->
                    <!--begin::Stats-->
                    <div class="d-flex flex-wrap flex-stack" bis_skin_checked="1">
                        <!--begin::Wrapper-->
                        <div class="d-flex flex-column flex-grow-1 pe-8" bis_skin_checked="1">
                            <!--begin::Stats-->
                            <div class="d-flex flex-wrap" bis_skin_checked="1">
                                <!--begin::publish date-->
                                <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3" bis_skin_checked="1">
                                    <!--begin::Number-->
                                    <div class="d-flex fs-4 fw-bold align-items-center" bis_skin_checked="1">
                                        @Model.PublishingDate.ToString("dd MMM, yyyy")
                                    </div>
                                    <!--end::Number-->
                                    <!--begin::Label-->
                                    <div class="fw-semibold fs-6 text-gray-500" bis_skin_checked="1">Publishing Date</div>
                                    <!--end::Label-->
                                </div>
                                <!--end::publish date-->
                                <!--begin::Stat-->
                                <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3" bis_skin_checked="1">
                                    <!--begin::Number-->
                                    <div class="d-flex fs-4 fw-bold align-items-center" bis_skin_checked="1">
                                        @Model.CreatedOn.ToString("dd MMM, yyyy")
                                    </div>
                                    <!--end::Number-->
                                    <!--begin::Label-->
                                    <div class="fw-semibold fs-6 text-gray-500" bis_skin_checked="1">Added Date</div>
                                    <!--end::Label-->
                                </div>
                                <!--end::Stat-->
                                <!--begin::Stat-->
                                <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3" bis_skin_checked="1">
                                    <!--begin::Number-->
                                    <div class="d-flex align-items-center" bis_skin_checked="1">
                                        <div class="fs-2 fw-bold counted" data-kt-countup="true" data-kt-countup-value="7" data-kt-countup-prefix="%" data-kt-initialized="1" bis_skin_checked="1">7</div>
                                    </div>
                                    <!--end::Number-->
                                    <!--begin::Label-->
                                    <div class="fw-semibold fs-6 text-gray-500" bis_skin_checked="1">Copies</div>
                                    <!--end::Label-->
                                </div>
                                <!--end::Stat-->
                            </div>
                            <!--end::Stats-->
                        </div>
                        <!--end::Wrapper-->
                        <!--begin::Progress-->
                        <div class="d-flex align-items-center w-200px w-sm-300px flex-column mt-3" bis_skin_checked="1">
                            <div class="d-flex justify-content-between w-100 mt-auto mb-2" bis_skin_checked="1">
                                <span class="fw-semibold fs-6 text-gray-500">Profile Compleation</span>
                                <span class="fw-bold fs-6">50%</span>
                            </div>

                            <div class="h-5px mx-3 w-100 bg-light mb-3" bis_skin_checked="1">
                                <div class="bg-success rounded h-5px" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" bis_skin_checked="1"></div>
                            </div>
                        </div>
                        <!--end::Progress-->
                    </div>
                    <!--end::Stats-->
                </div>
                <!--end::Info-->
            </div>
            <!--end::Details-->
            <!--begin::Navs-->
            <ul class="nav nav-stretch nav-line-tabs nav-line-tabs-2x border-transparent fs-5 fw-bold">
                <!--begin::Nav item-->
                <li class="nav-item mt-2">
                    <a class="nav-link text-active-primary ms-0 me-10 py-5 " href="/metronic8/demo1/account/overview.html">
                        Overview
                    </a>
                </li>
                <!--end::Nav item-->
                <!--begin::Nav item-->
                <li class="nav-item mt-2">
                    <a class="nav-link text-active-primary ms-0 me-10 py-5 active" href="/metronic8/demo1/account/settings.html">
                        Settings
                    </a>
                </li>
                <!--end::Nav item-->
                <!--begin::Nav item-->
                <li class="nav-item mt-2">
                    <a class="nav-link text-active-primary ms-0 me-10 py-5 " href="/metronic8/demo1/account/security.html">
                        Security
                    </a>
                </li>
                <!--end::Nav item-->
                <!--begin::Nav item-->
                <li class="nav-item mt-2">
                    <a class="nav-link text-active-primary ms-0 me-10 py-5 " href="/metronic8/demo1/account/activity.html">
                        Activity
                    </a>
                </li>
                <!--end::Nav item-->
                <!--begin::Nav item-->
                <li class="nav-item mt-2">
                    <a class="nav-link text-active-primary ms-0 me-10 py-5 " href="/metronic8/demo1/account/billing.html">
                        Billing
                    </a>
                </li>                
            </ul>
            <!--begin::Navs-->
        </div>
    </div>
    <!--end::Navbar-->
    <!--begin::Basic info-->
    <div class="card mb-5 mb-xl-10" bis_skin_checked="1">
        <!--begin::Card header-->
        <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse" data-bs-target="#kt_account_profile_details" aria-expanded="true" aria-controls="kt_account_profile_details" bis_skin_checked="1">
            <!--begin::Card title-->
            <div class="card-title m-0" bis_skin_checked="1">
                <h3 class="fw-bold m-0">Profile Details</h3>
            </div>
            <!--end::Card title-->
        </div>
        <!--begin::Card header-->
        <!--begin::Content-->
        <div id="kt_account_settings_profile_details" class="collapse show" bis_skin_checked="1">

        </div>    
    </div>    
</div>