@model AuthorViewModel

<tr class="fs-5 text-left">
    <td>@Model.Name</td>
    <td class="fw-bolder">
        <span class="badge badge-light-@(Model.IsDeleted ? "danger" : "success") js-status">
            @(@Model.IsDeleted ? "Deactivated" : "Active")
        </span>
    </td>
    <td>@Model.CreatedOn</td>
    <td>@Model.LastUpdatedOn</td>
    <td style="padding: 15px 0px;">
        <div class="card-toolbar">
            <a href="javascript:;"
               class="js-render-modal btn btn-light-primary px-6 me-3"
               data-url="/Authors/Edit/@Model.Id"
               data-title="Edit Author"
               data-update="true">
                Edit
            </a>
            <a href="javascript:;"
               class="px-3 js-toggle-status btn btn-light-danger"
               data-id="@Model.Id">
                Change Status
            </a>
        </div>
    </td>
</tr>